
.header {
    display: flex;
    width: 100vw;
    height: 10vw;
    background-image: url("images/header-background.jpg");
    opacity: 0.5;
    align-items: center;
}

.main-bar {
    display: flex;
    width: 100vw;
    height: flex;
}
.side-bar {
    background-color: green;
    width: 20vw;
    margin-left: 5vw;
    height: 100vh;
}

.card-bar {
    display: flex;
    background-color: lightcoral;
    width: 70vw;
    margin-right: 5vw;
    height: 100vh;
    align-items: flex-start;
}

.card {
    position: relative;
    width: 25%;
    aspect-ratio: 5/6.5;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-color: gainsboro;
}

.card-image {
    position: absolute;
    display: block;
    max-height: 90%;
    max-width: 90%;
}

.card-front {
    z-index: 1;
}

.card-front:hover {
    opacity: 0;
}