body {
    display: flex;
}

.side-bar {
    background-color: green;
    width: 20vw;
    margin-left: 5vw;
    height: 100vh;
}

.main-bar {
    background-color: lightcoral;
    width: 70vw;
    margin-right: 5vw;
    height: 100vh;
}

.card {
    width: 25%;
    aspect-ratio: 1;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    display: block;
    max-height: 90%;
    max-width: 90%;
}