*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.header {
    position: absolute;
    width: 100vw;
    height: 10vw;
    background-image: url("images/header-background.jpg");
    opacity: 0.5;
}

.header-text {
    position: relative;
    width: 100vw;
    height: 10vw;
    align-items: center;
}

.header-text h1 {
    font-size: 96;
    font-weight: bold;
}

.main-bar {
    display: flex;
    width: 100vw;
    height: flex;
}

.side-bar {
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
    color: white;
    width: 20vw;
    margin-left: 5vw;
    height: 100vh;
}

.card-bar {
    display: grid;
    background-color: #1b1b1b;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70vw;
    margin-right: 5vw;
    height: 100vh;
    align-items: flex-start;
}

.card {
    position: relative;
    aspect-ratio: 5/6.5;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-color: #272627;
}

.card-image {
    position: absolute;
    display: block;
    max-height: 90%;
    max-width: 90%;
}

.card-front {
    z-index: 1;
}

.card-front:hover {
    opacity: 0;
}

.popup-info {
    visibility: hidden;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%; /* Covers half of the screen horizontally */
    height: 70%; /* Covers half of the screen vertically */
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    z-index: 9999;
}

.popup-exit-button {
    position: fixed;
    top: 2.5%; /* Adjust the top position in pixels */
    right: 1.5%; /* Adjust the right position in pixels */
    width: 4%; /* Adjust the width to the desired size in pixels */
    aspect-ratio: 1/1;
    background-color: red;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
